/**
 * @Main scss for (Template/Project Name)
 * @project     - Project Name
 * @author      - 
 * @created_by  - Asraful Hoque
 * @created_at  - 
 * @modified_by -
 */
/* fonts import */
/* fonts import -END */
/* reset, root */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1170px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* helper , base classes */
.text-rich-black {
  color: #090B27;
}

.text-light-blue {
  color: #6347FB;
}

.bg-light-blue {
  background-color: #6347FB;
}

.text-Electric-Blue {
  color: #5B5D7E;
}

section {
  padding: 50px 0;
}

.fs-12 {
  font-size: 12px;
  line-height: normal;
}

.fs-14 {
  font-size: 14px;
  line-height: normal;
}

.fs-16 {
  font-size: 16px;
  line-height: normal;
}

.fs-18 {
  font-size: 18px;
  line-height: normal;
}

.fs-20 {
  font-size: 20px;
  line-height: 36px;
}
@media (max-width: 575px) {
  .fs-20 {
    font-size: 16px;
    line-height: 28px;
  }
}

.fs-50 {
  font-size: 50px;
  line-height: normal;
}
@media (max-width: 575px) {
  .fs-50 {
    font-size: 30px;
  }
}

.fs-90 {
  font-size: 90px;
  line-height: normal;
}
@media (max-width: 575px) {
  .fs-90 {
    font-size: 40px;
  }
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.radius-100 {
  border-radius: 100px;
}

.radius-8 {
  border-radius: 8px;
}

/* helper , base classes  - END*/
.navbar {
  padding-top: 40px !important;
  z-index: 999;
}
.navbar .navbar-nav {
  gap: 40px;
}
.navbar .nav-btn {
  padding: 12px 26px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.navbar .nav-item {
  position: relative;
}
.navbar .nav-item::after {
  position: absolute;
  content: "";
  background-color: #6347FB;
  left: 8px;
  width: 0%;
  height: 3px;
  bottom: 5px;
  transition: all 0.2s linear;
}
.navbar .nav-item:hover {
  color: #090B27;
}
.navbar .nav-item:hover::after {
  width: 100%;
}

.banner {
  padding: 350px 0 120px 0;
  background-image: url(../img/banner-bg.svg);
  background-repeat: no-repeat;
  background-position: right;
  min-height: 100vh;
  margin-top: -276px;
}
@media (max-width: 575px) {
  .banner {
    padding-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .banner .banner-brands {
    flex-wrap: wrap;
    align-items: center;
  }
}
@media (max-width: 575px) {
  .banner {
    background-image: none;
  }
}
.banner .banner-btn {
  padding: 21px 33px;
}
@media (max-width: 575px) {
  .banner .banner-right {
    padding-top: 100px;
  }
}
@media (max-width: 575px) {
  .banner .banner-left {
    padding-top: 0 !important;
  }
}
@media (max-width: 575px) {
  .banner .banner-left h1,
  .banner .banner-left p {
    text-align: center;
  }
}
.banner .banner-bottom {
  margin-bottom: 120px;
}
@media (max-width: 575px) {
  .banner .banner-bottom {
    flex-direction: column;
    gap: 23px !important;
    margin-bottom: 45px;
  }
}

.count {
  padding: 150px 0;
}
@media (max-width: 575px) {
  .count {
    padding: 60px 0;
  }
}
@media (max-width: 575px) {
  .count .counter {
    flex-wrap: wrap;
  }
}
.count .counter .counters {
  background: rgba(99, 71, 251, 0.1);
  padding: 17px 21px;
}

@media (max-width: 575px) {
  .middle-head {
    text-align: center;
  }
}

.custom-margin-top {
  margin-top: 50px;
}

.prices .card-btn {
  padding: 12px 70px;
}
@media (max-width: 575px) {
  .prices .card-btn {
    padding: 12px 27px;
  }
}
.prices .card-devider {
  width: 290px;
  height: 1px;
  background-color: #DADADA;
}
.prices .card-top {
  padding: 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
@media (max-width: 575px) {
  .prices .all-cards {
    display: none;
  }
}
.prices .package-toggler .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prices .package-toggler .top .switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;
}
.prices .package-toggler .top .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.prices .package-toggler .top .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E6E2FE;
}
.prices .package-toggler .top .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 6px;
  background-color: #6347FB;
  transition: 0.4s;
}
.prices .package-toggler .top input:checked + .slider {
  background-color: rgb(253, 255, 139);
}
.prices .package-toggler .top input:checked + .slider:before {
  transform: translateX(28px);
}
.prices .package-toggler .top .slider.round {
  border-radius: 30px;
}
.prices .package-toggler .top .slider.round:before {
  border-radius: 50%;
}
.prices .package-toggler .top input,
.prices .package-toggler .top label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.feedback #splide01-track {
  padding-block: 40px;
}
.feedback .feedback-main {
  background-image: url(../img/feedback-bg.svg);
  background-repeat: none;
  background-position: left top;
  height: 400px;
  border-radius: 10px;
  position: relative;
}
.feedback .feedback-main .feedback-head {
  padding: 100px;
}
.feedback .splide {
  margin-left: 475px;
  margin-top: -200px;
  z-index: 999;
}
.feedback .feed-top {
  background-image: url(../img/sliders-1.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  padding: 20px;
}

.footer-middle {
  padding: 12px 20px;
  fill: #FFF;
  stroke-width: 0.5px;
  stroke: rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.05));
  border: 1px solid gray;
  border-radius: 100px;
}/*# sourceMappingURL=style.css.map */